<!DOCTYPE html>
<html>
<head>
    <title>Voting Booth</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>
<header>
    <h1>U.S. Online Voting System</h1>
</header>
<div class="content">
    <h2>Your Vote</h2>
    <div>
        <p>Index: <%= block.index %></p>
        <p>UserID: <%= block.UserID %></p>
        <p>Vote: <%= block.vote %></p>
        <p>County: <%= block.county %></p>
        <p>State: <%= block.state %></p>
    </div>
</div>
</body>
</html>